<% include partials/header.ejs %>
<!-- Jumbotran start -->
<div>
    <div class="jumbotron text-center">
        <h1 class="display-3">Pattern</h1>
        <h2 class="lead">It uses utility classes for typography and spacing to space content out within the larger
            container.</h2>
        <a class="btn btn-primary btn-lg" href="/addfriend" role="button">Add Friend</a>
        <a class="btn btn-success btn-lg" href="/friends" role="button">View Friends</a>
        </p>
    </div>
</div>
<!-- Jumbotran end -->
<!-- Grid start -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="/pics/1.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">First Thing</h5>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit
                            quis,
                            excepturi, numquam nihil saepe praesentium cum eius quasi repudiandae unde asperiores
                            totam
                        </p>
                        <a href="#" class="btn btn-outline-success btn-sm">Download</a>
                        <a href="#" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
                    </div>

                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="/pics/2.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Second Thing</h5>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit
                            quis,
                            excepturi, numquam nihil saepe praesentium cum eius quasi repudiandae unde asperiores
                            totam
                        </p>
                        <a href="#" class="btn btn-outline-success btn-sm">Download</a>
                        <a href="#" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
                    </div>

                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="/pics/11.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Third Thing</h5>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit
                            quis,
                            excepturi, numquam nihil saepe praesentium cum eius quasi repudiandae unde asperiores
                            totam
                        </p>
                        <a href="#" class="btn btn-outline-success btn-sm">Download</a>
                        <a href="#" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Grid end -->

<% include partials/footer.ejs %>