.jumbotron{
    background-image: url(/pics/background.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    margin-top: 15px;
    padding: 0.5px 0.5px 0.5px 0.5px;
}
}
.display-4{
    font-weight: 400;
}
.lead{
    font-weight: 400;
}
#lead{
    text-emphasis: bold;
}
#footer{
    padding-top: 60px;
}
.container{
    margin-top: 5px;
}